/* Colores del proyecto */
$brand-default: #44815c;
$brand-primary: #44815c;
$brand-secondary: #22603d;
$brand-success: #3cae2c;
$brand-warning: #4eab72;
$brand-danger: #e92492;

/* Link Color */
$brand-link-color: #3cae2c;
$brand-link-hover-color: #ffffff;

/* Colores de fondo */
$bg-color: #17191a;
$bg-color-mid: #262829;
$bg-color-clear: #474d4a;
$bg-color-mid-inverse: #3a2b32;
$bg-color-clear-inverse: #47383f;

/* Colores de texto */
$text-color: #c0c0c0;
$text-secondary-color: #909090;
$text-ternary-color: #696969;
$text-color-inverse: #ffffff;
$text-secondary-color-inverse: #384740;
$text-ternary-color-inverse: #47383f;
