/* Menu de navegacion */
$nav-drawer-bg: $bg-color-clear;
$nav-drawer-color: #222222;
$nav-drawer-width: 100%;
$nav-drawer-height: $space-52;
$nav-drawer-padding: $space-12;
$nav-drawer-index: 1000;
$nav-drawer-title: $space-12;